a#nav-view-score-font.navbar-brand{
    color: #736092;
    font-weight: bold;
}

#time {
    color:black;
    font-weight: bold;
}

.col-9 {
    font-family: Arial, Helvetica, sans-serif;
}

#first-page {
    font-weight: bold;
    text-align: center;
}

.btn-primary {
    background-color: #725b8f;
    border-color: #725b8f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-top: 3%;
}